<%- include('layouts/header'); -%>
<%- include('layouts/admin nav'); -%>
    <main>
        <div class="success-container">
            <h1>Edit Page</h1>
            <p class="message">You have successfully edited the page!</p>
        </div>
    </main>
<%- include('layouts/footer'); -%>