<%- include('layouts/header'); -%>
<%- include('layouts/user nav'); -%>
        <main>
            <div class="success-container">
                <h1>Logout</h1>
                <p class="message">You have successfully logged out!</p>
            </div>
        </main>
        <%- include('layouts/footer'); -%>