<%- include('layouts/header'); -%>
<%- include('layouts/user nav'); -%>
<main>
    <div class="success-container">
    <h3><%= message %></h3>
    <a href="/login" id="LoginLink"><button id="Loginbutton">Login</button></a>
    </div>
</main>
<%- include('layouts/footer'); -%>