<%- include('layouts/header'); -%>
<%- include('layouts/admin nav'); -%>
        <main>
            <div class="success-container">
                <h3>Welcome!</h3>
                <p class="message">Hello Admin, welcome to the dashboard!</p>
            </div>
        </main>
<%- include('layouts/footer'); -%>