<%- include('layouts/header'); -%>

<%- include('layouts/nav'); -%>
        <main>
            <div class="hero-image">
                <img src="/images/river.jpg" alt="hero-image">
            </div>
                <div class="welcome-section">
                    <h2>Welcome to Travel Bloom Blog</h2>
                    <p>Explore the world with us and discover amazing travel stories, tips, and destinations.</p>
                
                </div>
                <div class="featured-content">
                    <h3>Featured Articles</h3>
                    <div class="article">
                        
                        <h4>Discover the Beauty of Iceland</h4>
                        <p>Explore Iceland, known as the "Land of Fire and Ice," with its stunning landscapes, glaciers, and volcanoes.</p>
                    </div>
                    <div class="article">
                        
                        <h4>Experience the Magic of Bali</h4>
                        <p>Visit Bali, Indonesia's tropical paradise, famous for its beaches, temples, and vibrant culture.</p>
                    </div>
                </div>
        </main>
        <%- include('layouts/footer'); -%>