<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
        <main>
            

            <p>You have successfully logged out!</p>

        </main>
        <%- include('layouts/footer'); -%>