<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
        <main>
            
            <h2>Welcome</h2>
            <p>Hello Admin, welcome to the dashboard!</p>

        </main>
        <%- include('layouts/footer'); -%>