<%- include('layouts/header'); -%>
<%- include('layouts/admin nav'); -%>

    <main>
        <div class="success-container">
            <h1>Add Page</h1>
            <p class="message">You have successfully created a new page!</p>
        </div>
    </main>
<%- include('layouts/footer'); -%>