<%- include('layouts/header'); -%>
<%- include('layouts/admin nav'); -%>
<body>

    <main>
        <div class="success-container">
            <h1>Delete Page</h1>
            <p class="message"><%= message %>!</p>
        </div>
    </main>
</body>
<%- include('layouts/footer'); -%>
