<%- include('layouts/header'); -%>
<%- include('layouts/user nav'); -%>
        <main>   
            <% if (errorMessage) { %>
                <p class="error"><%= errorMessage %></p>
              <% } %>
            <div class="form">
                <h2>Login</h2>
                <form action="/login" method="post" id="admin-form">

                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                    <input type="submit" value="Submit">
                </form>
                <p>Don't have an account? <a href="/register">Register here</a></p>
            </div>
        </main>
        <%- include('layouts/footer'); -%>